.popover_body {
  padding: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: 1px solid rgba(205, 205, 205, 0.5);
}
.popover_body_dark {
  background: #161d31 !important;
}
