.announcement_card_skeleton {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid rgba(200, 200, 200, 0.5);
}
.announcement_card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid rgba(200, 200, 200, 0.5);
}
